<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Invoice Crédito</title>

    <style>
        body {
            margin: 0;
            padding: 1rem 0 0 0;

            font-family: 'Helvetica', 'Arial', sans-serif;
            font-size: 12px;
        }

        .header--top {
            text-align: justify;
        }

        .header--top:after {
            content: '';
            display: inline-block;
            width: 100%;
        }

        .header__logo,
        .header__info {
            display: inline-block;
        }
        
        .header__logo {
            width: 280px;
            margin-bottom: 1em;
        }  

        .header__info {
            position: relative;
            top: -40;
        }    

        .info--invoice-id,
        .info--empleado,
        .info--fecha {
            margin-bottom: .5em; 
        }         

        .header--bottom {
            text-align: justify; 
        }

        .header--bottom:after {
            content: '';
            display: inline-block;
            width: 100%;
        }

        .header__address,
        .header__cliente {
            display: inline-block;
        }

        .invoice__pago {
            margin-top: 2em;
        }

        .pago__header {
            background: rgb(237, 237, 237);
            border-bottom: 1px solid rgb(221, 221, 221);
            font-weight: bold;
            font-size: 16px;
            text-align: justify;
            padding: .4em;
        }

        .pago__header:after {
            content: '';
            display: inline-block;
            width: 100%;
        }

        .pago__header--metodo,
        .pago__header--pronto {
            display: inline-block;
        }

        .pago {
            text-align: justify;
            font-size: 16px;
            padding: .4em;
        }

        .pago:after {
            content: '';
            display: inline-block;
            width: 100%;
        }

        .pago--metodo,
        .pago--pronto {
            display: inline-block;
        }

        .pago--metodo {
            text-transform: capitalize;
        }

        .invoice__items {
            margin-top: 2em;
        }

        .items__header {
            background: rgb(238, 238, 238);
            border-bottom: 1px solid rgb(221, 221, 221);
            font-weight: bold;
            font-size: 16px;
            text-align: justify;
            padding: .4em;
        }

        .items__header:after {
            content: '';
            display: inline-block;
            width: 100%;
        }

        .items__header--articulo,
        .items__header--precio {
            display: inline-block;
        }

        .items {
            text-align: justify;
            border-bottom: 1px solid rgb(221, 221, 221);
            padding: .4em;
        }

        .items:after {
            content: '';
            display: inline-block;
            width: 100%;
        }

        .items--item,
        .items--price {
            display: inline-block;
        }

        .item--marca,
        .items--price {
            font-size: 14px;
            font-weight: bold;
        }

        .invoice__desglose-costo {
            margin-top: 2em;
        }

        .desglose-costo__header {
            display: table;
            width: 100%;
            padding: .4em 0;
            background: rgb(238, 238, 238);
            border-bottom: 1px solid rgb(221, 221, 221);
            font-weight: bold;
            font-size: 16px;
        }
        
        .desglose-costo__header--subtotal,
        .desglose-costo__header--tax,
        .desglose-costo__header--factura-tax {
            display: table-cell;
	        text-align: center;
            width: 33%;            
        }

        .desglose-costo {
            display: table;
            width: 100%;
            padding: 1em 0 2em 0;
            font-weight: bold;
            font-size: 14px;
        }
        
        .desglose-costo--subtotal,
        .desglose-costo--tax,
        .desglose-costo--factura-tax {
            display: table-cell;
	        text-align: center;
            width: 33%;            
        }

        .invoice__desglose-2-costo {
            margin-top: 2em;
        }

        .desglose-costo-2__header {
            display: table;
            width: 100%;
            padding: .4em 0;
            background: rgb(238, 238, 238);
            border-bottom: 1px solid rgb(221, 221, 221);
            font-weight: bold;
            font-size: 16px;
        }
        
        .desglose-costo-2__header--pronto,
        .desglose-costo-2__header--total,
        .desglose-costo-2__header--intereses,
        .desglose-costo-2__header--balance {
            display: table-cell;
	        text-align: center;
            width: 25%;            
        }

        .desglose-costo-2 {
            display: table;
            width: 100%;
            padding: 1em 0 2em 0;
            border-bottom: 1px solid rgb(221, 221, 221);
            font-weight: bold;
            font-size: 14px;
        }
        
        .desglose-costo-2--pronto,
        .desglose-costo-2--total,
        .desglose-costo-2--intereses,
        .desglose-costo-2--balance {
            display: table-cell;
	        text-align: center;
            width: 25%;            
        }        

        .invoice__firma {
            margin-top: 1em;
            width: 100%;
            font-size: 12px;
        }

        .invoice__firma--tmunicipal,
        .invoice__firma--testatal {
            width: 33%;
        }

        .invoice__firma--firma {
            width: 34%;
            border-bottom: 1px solid black;
        }

        .invoice__mensaje {
            text-align: justify;
            margin-top: 1.4em;
        }

        .invoice__mensaje:after {
            content: '';
            display: inline-block;
            width: 100%;
        }

        .mensaje__mensaje,
        .mensaje__invoice-id {
            display: inline-block;
        }

        .mensaje__mensaje {
            font-weight: bold;
        }  

        @media print {
            .items,
            .invoice__desglose-costo,
            .invoice__desglose-costo-2,
            .invoice__firma {
                page-break-inside: avoid;
            }            
        }      
    </style>
</head>

<body>
    <header class="invoice__header">       
            <section class="header--top">
                <img class="header__logo" src="http://res.cloudinary.com/rfig081/image/upload/v1525537325/LOGO_igswbw.png" alt="Super Mueblicentro, Inc">
                
                <div class="header__info">
                    <div class="info--invoice-id"><b>Invoice:</b> <%= id %></div>
        
                    <div class="info--empleado">
                        <b>Empleado:</b> <%= empleado.nombre %> <%= empleado.apellidos %>
                    </div>
        
                    <div class="info--fecha">                
                        <b>Fecha:</b> <%= fecha_formateada %>
                    </div>
                </div>  
            </section>

            <section class="header--bottom">
                <div class="header__address">
                        <%= direccion.nombre %> <br>
                        <%= direccion.nombre %> <br>
                        <%= direccion.nombre %>, <%= direccion.nombre %> <%= direccion.nombre %> <br>
                        <%= direccion.nombre %>
                </div>

                <div class="header__cliente">
                        <b><%= cliente.id %></b> <br>
                        <b><%= cliente.nombre %> <%= cliente.apellidos %></b> <br>
                        <%= cliente.telefono %> <br>
                        <%= cliente.email %>
                </div>
            </section>
    </header>

    <section class="invoice__pago">
        <div class="pago__header">
            <div class="pago__header--metodo">Método de Pago</div>

            <div class="pago__header--pronto">Pronto</div>
        </div>

        <div class="pago">
            <div class="pago--metodo"><%= metodo_de_pago %></div>
            <div class="pago--pronto"><%= total %></div>
        </div>
    </section>

    <section class="invoice__items">
        <div class="items__header">
            <div class="items__header--articulo">Artículo</div>

            <div class="items__header--precio">Precio</div>
        </div>
        <% for(let i=0; i < carrito.length; i++) { %>
            <div class="items">
                <div class="items--item">
                    <span class="item--marca"><%= carrito[i].marca %></span> <br>

                    <span class="item--modelo"><%= carrito[i].modelo %></span> 
                </div>

                <div class="items--price"><%= carrito[i].precio_vendido %></div>
            </div>
        <% } %>
    </section>

    <section class="invoice__desglose-costo">
        <div class="desglose-costo__header">
            <div class="desglose-costo__header--subtotal">Subtotal</div>

            <div class="desglose-costo__header--tax">Total Tax</div>

            <div class="desglose-costo__header--factura-tax">Factura + Tax</div>
        </div>

        <div class="desglose-costo">
            <div class="desglose-costo--subtotal"><%= total %></div>

            <div class="desglose-costo--tax"><%= total %></div>

            <div class="desglose-costo--factura-tax"><%= total %></div>
        </div>
    </section>

    <section class="invoice__desglose-costo-2">
        <div class="desglose-costo-2__header">
            <div class="desglose-costo-2__header--pronto">Pronto</div>

            <div class="desglose-costo-2__header--total">Total</div>

            <div class="desglose-costo-2__header--intereses">Intereses</div>

            <div class="desglose-costo-2__header--balance">Balance</div>
        </div>

        <div class="desglose-costo-2">
            <div class="desglose-costo-2--pronto"><%= total %></div>

            <div class="desglose-costo-2--total"><%= total %></div>

            <div class="desglose-costo-2--intereses"><%= total %></div>

            <div class="desglose-costo-2--balance"><%= total %></div>
        </div>
    </section>

    <table class="invoice__firma">
        <tr>
            <td class="invoice__firma--tmunicipal"><b>Tax Municipal:</b> <%= total %></td>

            <td class="invoice__firma--testatal"><b>Tax Estatal:</b> <%= total %></td>

            <td class="invoice__firma--firma"><b>Firma:</b></td>
        </tr>
    </table>

    <section class="invoice__mensaje">
        <div class="mensaje__mensaje"><%= mensaje %></div>
        <div class="mensaje__invoice-id"><%= id %></div>
    </section>    
</body>

</html>