<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Invoice Crédito</title>

    
</head>

<body>
    <header class="invoice__header">       
            <section class="header--top">
                <img class="header__logo" src="http://res.cloudinary.com/rfig081/image/upload/v1525537325/LOGO_igswbw.png" alt="Super Mueblicentro, Inc">
                
                <div class="header__info">
                    <div class="info--invoice-id"><b>Invoice:</b> <%= id %></div>
        
                    <div class="info--empleado">
                        <b>Empleado:</b> <%= empleado.nombre %> <%= empleado.apellidos %>
                    </div>
        
                    <div class="info--fecha">                
                        <b>Fecha:</b> <%= fecha_formateada %>
                    </div>
                </div>  
            </section>

            <section class="header--bottom">
                <div class="header__address">
                        <%= direccion.nombre %> <br>
                        <%= direccion.nombre %> <br>
                        <%= direccion.nombre %>, <%= direccion.nombre %> <%= direccion.nombre %> <br>
                        <%= direccion.nombre %>
                </div>

                <div class="header__cliente">
                        <b><%= cliente.id %></b> <br>
                        <b><%= cliente.nombre %> <%= cliente.apellidos %></b> <br>
                        <%= cliente.telefono %> <br>
                        <%= cliente.email %>
                </div>
            </section>
    </header>

    <section class="invoice__pago">
        <div class="pago__header">
            <div class="pago__header--metodo">Método de Pago</div>

            <div class="pago__header--pronto">Pronto</div>
        </div>

        <div class="pago">
            <div class="pago--metodo"><%= metodo_de_pago %></div>
            <div class="pago--pronto"><%= total %></div>
        </div>
    </section>

    <section class="invoice__items">
        <div class="items__header">
            <div class="items__header--articulo">Artículo</div>

            <div class="items__header--precio">Precio</div>
        </div>
        <% for(let i=0; i < carrito.length; i++) { %>
            <div class="items">
                <div class="items--item">
                    <span class="item--marca"><%= carrito[i].marca %></span> <br>

                    <span class="item--modelo"><%= carrito[i].modelo %></span> 
                </div>

                <div class="items--price"><%= carrito[i].precio_vendido %></div>
            </div>
        <% } %>
    </section>

    <section class="invoice__desglose-costo">
        <div class="desglose-costo__header">
            <div class="desglose-costo__header--subtotal">Subtotal</div>

            <div class="desglose-costo__header--tax">Total Tax</div>

            <div class="desglose-costo__header--factura-tax">Factura + Tax</div>
        </div>

        <div class="desglose-costo">
            <div class="desglose-costo--subtotal"><%= total %></div>

            <div class="desglose-costo--tax"><%= total %></div>

            <div class="desglose-costo--factura-tax"><%= total %></div>
        </div>
    </section>

    <section class="invoice__desglose-costo-2">
        <div class="desglose-costo-2__header">
            <div class="desglose-costo-2__header--pronto">Pronto</div>

            <div class="desglose-costo-2__header--total">Total</div>

            <div class="desglose-costo-2__header--intereses">Intereses</div>

            <div class="desglose-costo-2__header--balance">Balance</div>
        </div>

        <div class="desglose-costo-2">
            <div class="desglose-costo-2--pronto"><%= total %></div>

            <div class="desglose-costo-2--total"><%= total %></div>

            <div class="desglose-costo-2--intereses"><%= total %></div>

            <div class="desglose-costo-2--balance"><%= total %></div>
        </div>
    </section>

    <table class="invoice__firma">
        <tr>
            <td class="invoice__firma--tmunicipal"><b>Tax Municipal:</b> <%= total %></td>

            <td class="invoice__firma--testatal"><b>Tax Estatal:</b> <%= total %></td>

            <td class="invoice__firma--firma"><b>Firma:</b></td>
        </tr>
    </table>

    <section class="invoice__mensaje">
        <div class="mensaje__mensaje"><%= mensaje %></div>
        <div class="mensaje__invoice-id"><%= id %></div>
    </section>    
</body>

</html>